<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    ลงทะเบียนบัญชีผู้ใช้
                </div>
                <form [formGroup]="userForm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">อีเมล์</label>
                                <input type="text" class="form-control" formControlName="email">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="email?.errors?.required">
                                        ต้องกรอกอีเมล์ของคุณ
                                    </div>
                                    <div *ngIf="email?.errors?.email">
                                        รูปแบบอีเมล์ของคุณไม่ถูกต้อง !
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                              <label for="">ยูเซอร์เนม</label>
                              <input type="text" class="form-control" formControlName="username">
                              <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="username?.errors?.required">
                                        โปรดระบุยูเซอร์เนม
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="">รหัสผ่าน</label>
                                <input type="password" class="form-control" formControlName="password">
                                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="password?.errors?.required">
                                        โปรดระบุรหัสผ่าน
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" (click)="signup()">ลงทะเบียน</button>&nbsp;
                            <button type="button" class="btn btn-danger" (click)="cancel()">ยกเลิก</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>