<div class="card">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">เพิ่มงานเขียนใหม่</li>
        </ol>
    </nav>
    <div class="card-body">
        <h4 class="card-title">เพิ่มงานเขียนใหม่</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-3">
                        Image:
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="file" class="form-control-file" formControlName=''>
                        </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
              <form>
                  <div class = "card">
                    <h4 class="card-header">
                        งานเขียนใหม่
                    </h4>
                    <div class = "card-body"></div>
                  </div>
              </form>
          </div>
    </div>
</div>