<div class = "container-fluid" style="margin-top: 20px;">
    <h2>เพิ่มงานเขียนใหม่</h2>
</div>

<br>

<div class = "container">
    <form [formGroup]="createForm">
        <div class="row">
            <div class="col-md-5">
                <div class="text-center">
                    <div class="form-group">
                        <input type="file" class="form-control-file" formControlName='file' (change)="onChangeImg($event)">
                    </div>
                    <br>
                    <div >
                        <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.createForm.value.urlimg" style="height:150px;">
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card border-info">
                    <h4 class="card-header border-info bg-info text-white">งานเขียนใหม่</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>ชื่อเรื่อง : </h5>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName='name'>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>ราคา : </h5>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="number" class="form-control" formControlName='price'>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>สำนักพิมพ์ : </h5>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName='publisher'>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>เนื้อหา : </h5>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <textarea type="text" class="form-control" rows="15" formControlName='shortnote'></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-end">
                            <button type="button" class="btn btn-primary" (click)="addNovel()">บันทึกงานเขียน</button>&nbsp;
                            <button type="button" class="btn btn-danger" (click)="cancel()">ยกเลิกงานเขียน</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>