<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/homepage" class="navbar-brand btn btn-dark">หน้าหลัก</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLink="/create" routerLinkActive="active" class="btn btn-dark">เพิ่มหนังสือ</a>
        </li>
        <li class="nav-item">
          <a routerLink="/showwish" routerLinkActive="active" class="btn btn-dark">รายการหนังสือที่อยากได้</a>
        </li>
        
      </ul>
    </div>
    
  </nav>

<div class="container-fluid">
    <app-shownovelinformation></app-shownovelinformation>
    <br>
    <br>
    <button class="btn btn-outline-danger" style="float: left;" (click)="onClickaddWist()">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
          </svg>
    </button>
    <button class="btn btn-danger" style="float: right;" (click)="onClickDelete()">ลบ</button>
    <button class="btn btn-primary" style="float: right;" (click)="onClickupdatet()">แก้ไข</button>
    <br>
    <br>
    <br>
    <app-comment></app-comment>
    <br>
</div>